# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/

# WorkBuddy
.workbuddy/
